<div class="text">
	<ol>
		<li>{{ listItem }}</li>
		<li>{{ listItem }}</li>
		<li>
			{{ listItem }}
			<ol>
				<li>{{ listItemNested }}</li>
				<li>{{ listItemNested }}</li>
			</ol>
		</li>
		<li>{{ listItem }}</li>
	</ol>
</div>