{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
    set navbar_classes = [
    'navbar',
    theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
    theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
    ]
    %}
		<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass('container') %}
			<div class="{{ container }}">
        {% endif %}
				<div class="navbar-header">
          {{ page.navigation }}
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="sr-only">{{ 'Toggle navigation'|t }}</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
          {% endif %}
				</div>

        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
					<div id="navbar-collapse" class="navbar-collapse collapse">
            {{ page.navigation_collapsible }}
					</div>
        {% endif %}
        {% if not navbar_attributes.hasClass('container') %}
			</div>
      {% endif %}
		</header>
  {% endblock %}
{% endif %}
